<footer class="site-footer">

  <!--<div class="wrapper">-->

    <!--<h2 class="footer-heading">{{ site.title }}</h2>-->

    <!--<div class="footer-col-wrapper">-->
      <!--<div class="footer-col footer-col-1">-->
        <!--<ul class="contact-list">-->
          <!--<li>{{ site.title }}</li>-->
          <!--<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>-->
        <!--</ul>-->
      <!--</div>-->

      <!--&lt;!&ndash;<div class="footer-col footer-col-2">&ndash;&gt;-->
        <!--&lt;!&ndash;<ul class="social-media-list">&ndash;&gt;-->
          <!--&lt;!&ndash;{% if site.github_username %}&ndash;&gt;-->
          <!--&lt;!&ndash;<li>&ndash;&gt;-->
            <!--&lt;!&ndash;{% include icon-github.html username=site.github_username %}&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->

          <!--&lt;!&ndash;{% if site.twitter_username %}&ndash;&gt;-->
          <!--&lt;!&ndash;<li>&ndash;&gt;-->
            <!--&lt;!&ndash;{% include icon-twitter.html username=site.twitter_username %}&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--<div class="footer-col footer-col-3">-->
        <!--<p>{{ site.description }}</p>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
  <script src="{{ '/js/app.js' | prepend: site.baseurl }}"></script>
</footer>
