.page-content {
  margin-top: 2rem;
  @media #{$medium-and-up} {
    margin-top: 4rem;
  }


  p {
    font-size: 1.3em;
  }

}


.section-header {
  font-size: 1.6rem;
  @media #{$medium-and-up} {
    font-size: 2.5rem;
  }
}

.projects-header {
  text-align: center;
  text-transform: uppercase;
}

.project-excerpt {
}

.card .project-title {
  margin-left: 1rem;
  margin-top: 1rem;
  display: block;
}

.card .project-tools {
  margin-top: 1rem;
}

.card .project-card {
  width: 100%;
  @media #{$large-and-up} {
    max-width: 450px;
    margin: 0 auto;
  }
}

.card .card-content {
  padding: 1rem;
}

* + .icon-container {
  margin-top: 1rem;
}
.project-tools .chip {
  margin: 0.3rem 0;
}

.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;

    path {
      fill: $primary-color-dark;
    }
  }
}

.icon--large {

  > svg {
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }
}

.contact-networks {
  text-align: center;
  margin-top: 3rem;
  @media #{$medium-and-up} {
    margin-top: 0;
  }
}

.contact-networks_center {
  text-align: left;
  width: 200px;
  margin: 0 auto;
  margin-top: 2rem;
}

.site-footer {
  text-align: center;
  padding: 2rem;
  color: #ccc;
  font-size: 0.9rem;
}
.form-errortext {
  display: none;
}
.form-error {
  color: $error-color !important;

  input,
  textarea {
    border-bottom-color: $error-color !important;
  }
  .form-errortext {
    position: absolute;
    display: block;
    right: 0;
    top: 0.8rem;
  }

}
button.btn_inline {
  display: inline-block;
}
.form-successcontainer {
  display: inline-block;
}
.form-success {
  display: none;
  font-size: 1.3rem;
  margin-left: 1rem;
}