.site-header {
  //background-color: $primary-color-dark;
  padding: 2rem 0;
  //color: #fff;
  text-align: center;
}
.site-headercontent {
  text-align: center;
  justify-content:center;
}
.profile-image-wrapper {
  text-align: center;
}
.site-headertext {
  text-align: center;
  width: 60%;
  @media #{$medium-and-up} {
    width: 40%;
    margin-left: 2rem;
  }
}
.site-header .profile-image {
  border-radius: 50%;
  height: 125px;
  @media #{$medium-and-up} {
    height: 200px;
  }
}

.site-title {
  font-size: 2rem;
  margin: 0;
  color: $off-black;
  @media #{$medium-and-up} {
    font-size: 3rem;
  }
}
.site-subtitle {
  margin: 0;
  color: $primary-color-dark;
  font-size: 1rem;
  @media #{$medium-and-up} {
    font-size: 2rem;
  }
}
.section-header {
  font-size: 1.6rem;
  @media #{$medium-and-up} {
    font-size: 2.5rem;
  }
}
.projects-header {
  text-align: center;
  text-transform: uppercase;
}


.card .project-title {
  margin-left: 1rem;
  margin-top: 1rem;
  display: block;
}
.card .project-tools {
  margin-top: 1rem;
}
.card .project-card {
  width: 100%;
  @media #{$large-and-up} {
    max-width: 450px;
    margin: 0 auto;
  }
}
.card .card-content {
  padding: 1rem;
}