---
layout: page
title: Projects
permalink: /projects/
order: 2
---

<div class="home">

  <!--<ul class="post-list">-->
  <!--{% for post in site.posts %}-->
  <!--<li>-->
  <!--<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->

  <!--<h2>-->
  <!--<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>-->
  <!--</h2>-->
  <!--</li>-->
  <!--{% endfor %}-->
  <!--</ul>-->
  <div class="projects row">
    {% for project in site.portfolio %}
    <div class="project col s12 m8 offset-m2 l6">
      <div class="project-card card">
        <a href="{{project.url | prepend: site.baseurl }}">
          <div class="portfolio-imagewrap">
            <div class="card-image">
              <img src="{{ '/assets/portfolio/card/' | prepend: site.baseurl | append: project.picture }} ">
            </div>
          </div>
          <span class="project-title card-title">{{ project.title }}</span>
        </a>
        <div class="project-excerpt card-content">
          <span class="truncate">{{ project.excerpt }}</span>
          <div class="project-tools">
            {% for tool in project.tools limit: 3 %}
            <div class="chip">{{ tool }}</div>
            {% endfor %}
          </div>
        </div>
        <div class="card-action">
          <a href="{{project.url | prepend: site.baseurl }}">More Info</a>
          {% if project.github %}
          <a href="{{project.github}}" target="_blank">Github</a>
          {% endif %}
          <a href="{{project.siteurl}}" target="_blank">Visit</a>

        </div>

      </div>
    </div>
    {% endfor %}
  </div>

</div>
