---
layout: default
---
<article class="portfolio container">

  <header class="portfolio-header">
    <h3 class="portfolio-title">{{ page.title }}</h3>
    <ul class="portfolio-techlist">
      {% for tool in page.tools %}
      <li class="portfolio-techlistitem">{{ tool }}</li>
      {% endfor %}
    </ul>

      <img class="portfolio-image " src="{{site.baseurl}}/assets/portfolio/page/{{page.picture}}">
    <div class="portfolio-links">
      <div class="portfolio-link"><a href="{{page.siteurl}}">Visit</a></div>
      <div class="portfolio-link"><a href="{{page.github}}">View on Github</a></div>

    </div>
  </header>

  <div class="portfolio-content">
    {{ content }}
  </div>

</article>